body{
    margin: 0;
    padding: 0;
   
    
}

.header{
    
    border: 3px solid black;
    margin-top: 3%;
    margin: 5px;

}
.text{
    font-weight: bold;
    text-align: center;
}

.title, .today{
    font-weight: bold;
    margin-top: 3%;
    text-align: center;
   
}



.description{
    margin-top: 5px;
    margin: 5px;
    border: 2px solid black; 
    padding: 20px;  
    word-spacing: 4px;
}

#spacepicture{
    width: 100vw; 
    height: auto;
    object-fit: contain;
    margin: 10px;
    
}

p{
    padding: 20px;
}
h4{
    text-align: center;
    margin: 5px;
    margin-top: 20px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
/* foor making inline items in next line */

    margin-left: 45%;
    margin-bottom: 2%;
    margin-top: 2%;
    
}


